body{
  background-color:#fafafa;

}

nav {
  background-color: #fafafa;
  font-family: "Vujahday Script", cursive;
  color: #212121;
  height: 100px;
  outline: 3px solid #363636;
}

.navbar {
  text-align: left;
  font-size: 50px;
  float: left;
  display: flex;
}
.logo {
  padding: auto;
  height: 90px;
  width: 250px;
  float: left;
  align-items: center;
  margin-left: 20px;
  padding-left: 0px;
}

.iconos {
  padding-top: 10px;
  float: right;
}

ul {
  padding: 10px;
}

li {
  list-style: none;
  padding: 0px 50px;
  text-decoration: none;
  display: inline-block;
}
.home{
  padding-top: 27vh;
  padding-bottom: 27vh;
  padding-left: 17vh;
  background-color: #acaaaa
}
.home-img{
  /* padding: 5vh; */
  height: 800px;
  width: 800px;
}




.card {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 10px 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: tomato 1px solid;
  margin-left: 20px;
  margin: 20px;
}

.card-img{
  padding: 10px;
  width: 90px;
  height: 120px;
  padding-left: 40px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}








footer {
  font-family: inherit;
  background-color: #363636;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}

footer a{
  color: white;
}